# Day 3

## Subarrays Using List Comprehension

####  Q. From a starting and ending range make a subarray of list

#### `s = 1`
#### `e = 3`
#### Output: [[1], [1,2], [1,2,3], [2], [2,3],[3]]

In [10]:
s=1
e=3
arr = [i for i in range(s,e+1)]
arr2 = [arr[i:j+1] for i in range(len(arr)) for j in range(i,len(arr))]

In [11]:
arr2

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

## List Comprehension

#### Q. Make a List of numbers from 1 to n using List Comprehension

In [2]:
#Using For Loop
forloop=[]
n = int(input())
for i in range(1,n+1):
    forloop.append(i)
print("Using Loop: ",forloop)

#Using List Comprehension
l = [i for i in range(1,n+1)]
print("Using Comprehension: ",l)

10
Using Loop:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Using Comprehension:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Q. Make a List of Odd Numbers from 1 to n using List Comprehension

In [5]:
#Using For Loop
forloop =[]
n = int(input())
for i in range(1,n,2):
    forloop.append(i)
print("Using For Loop: ",forloop)

#Using List Comprehension
l = [i for i in range(1,n,2)]
print("Using List Comprehension: ",l)

5
Using For Loop:  [1, 3]
Using List Comprehension:  [1, 3]

#### Q. if number is even, take the number as it is else square it

In [109]:
l = [i if i%2==0 else i**2 for i in range(1,n+1)]

In [10]:
l

[1, 2, 9, 4, 25]

#### Q. Matrix using List Comprehension
#### If Number is even, cube it, if odd square it

In [57]:
mat = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [48]:
#for loop
for i in range(len(mat)):
    for j in range(len(mat[0])):
        if mat[i][j]%2==0:
            mat[i][j]**=3
        else:
            mat[i][j]**=2

In [49]:
mat

[[1, 8, 9, 64],
 [25, 216, 49, 512],
 [81, 1000, 121, 1728],
 [169, 2744, 225, 4096]]

In [58]:
[[ele**2 if ele%2!=0 else ele**3 for ele in row] for row in mat]

[[1, 8, 9, 64],
 [25, 216, 49, 512],
 [81, 1000, 121, 1728],
 [169, 2744, 225, 4096]]

In [54]:
mat

[[1, 8, 9, 64],
 [25, 216, 49, 512],
 [81, 1000, 121, 1728],
 [169, 2744, 225, 4096]]

#### Q. Paired Outputs
For each number in `list_b`, get the number and its position(index) in `mylist` as turn 1. list of tuples 2. dictionary

>#### Input  
>   mylist = [9,3,6,1,5,0,8,2,4,7]   
>   list_b = [6,4,6,1,2,2]
    
    
    
>#### Output
>   result = [(6,2),(4,8),(6,2),(1,3),(2,7),(2,7)]

In [63]:
mylist = [9,3,6,1,5,0,8,2,4,7]
list_b = [6,4,6,1,2,2]
result = [(i,mylist.index(i)) for i in list_b]

In [64]:
result

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [68]:
result = {i:mylist.index(i) for i in list_b}

In [69]:
result

{6: 2, 4: 8, 1: 3, 2: 7}

In [72]:
result = {i:[mylist.index(i),list_b.count(i)] for i in list_b}

In [73]:
result

{6: [2, 2], 4: [8, 1], 1: [3, 1], 2: [7, 2]}

#### Problem Statement: The Goal is to tokenize the following 5 sentences into words, excluding stop words.
#### sentences = ["a new world record was set", "in the holy city of ayodhya","on the eve of diwali tuesday" , "with over three lakh diya or earthen lamps", "lit up simultaneously on the banks of the saryu river"]

#### stopword = ['for','a','of','the','and','to','in','on','with']

In [98]:
 sentences = ["a new world record was set", "in the holy city of ayodhya","on the eve of diwali tuesday" , "with over three lakh diya or earthen lamps", "lit up simultaneously on the banks of the saryu river"]

In [105]:
 stopword = ['for','a','of','the','and','to','in','on','with','was']

In [113]:
#as 1D Array
d = [word for sentence in sentences for word in sentence.split() if word not in stopword]

In [111]:
d

['new',
 'world',
 'record',
 'set',
 'holy',
 'city',
 'ayodhya',
 'eve',
 'diwali',
 'tuesday',
 'over',
 'three',
 'lakh',
 'diya',
 'or',
 'earthen',
 'lamps',
 'lit',
 'up',
 'simultaneously',
 'banks',
 'saryu',
 'river']

In [116]:
[[word for word in sentence.split() if word not in stopword]for sentence in sentences]

[['new', 'world', 'record', 'set'],
 ['holy', 'city', 'ayodhya'],
 ['eve', 'diwali', 'tuesday'],
 ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'],
 ['lit', 'up', 'simultaneously', 'banks', 'saryu', 'river']]

#### Problem Statement: 
A String of comma seperated numbers, the number 5 and 8 are present in the list. Assume that 8 always comes after 5.

>case1: num1 = add all the numbers which do not lie between 5 and 8

>case2: num2 = number formed by concatenating all numbers from 5 to 8

output: sum of num1 and num2

example:
3,2,6,5,1,4,8,9

num1 = 3+2+6+9 = 20
num2 = 5148

op = 5148+20 = 5168

In [202]:
from functools import reduce
def returnsum(s):
    l = list(s.split(','))
    l1 = ''.join(map(str,l[l.index('5'):l.index('8')+1]))
    l2 = reduce(lambda a,b: int(a)+int(b),[x for x in l if x not in l1])
    return int(l1)+l2

In [207]:
returnsum('3,2,6,5,1,4,8,9')

5168

In [206]:
from functools import reduce
def returnsum(s):
    s = s.replace(',','')
    l1 = ''.join(map(str,s[s.index('5'):s.index('8')+1]))
    s =s.replace(l1,'')
    return int(l1)+sum(map(int,list(s)))

In [213]:
l = list(map(int,input().split(',')))
print(sum(l[:l.index(5)]+l[l.index(8)+1:])+int(''.join(map(str,l[l.index(5):l.index(8)+1]))))

3,2,6,5,1,4,8,9
5168

#### String Rotation
#### input -> rhdt:246, ghftd:1246

#### If sum of squares of digit is even then rotate the string right by 1, if sum of square of digits is odd then rotate the string left by 2 position

> Input

> 2 * 2 + 4 * 4 + 6 * 6 = 56 which is even so rotate rhdt=trhd

>1 * 1 + 2 * 2 + 4 * 4 + 6 * 6 = 57 which is odd so rotate left by 2

In [239]:
s = list(input().split(':'))
st = lambda s: s[0][-1]+s[0][:-1] if (sum([int(x)**2 for x in s[1]])%2==0)  else s[0][2:]+s[0][:2]
st(s)

rhdt:246

'trhd'

#### Q. Find the largest common substring in 2 words

In [82]:
def largest_common_substring(word1,word2):
    arr = [i for i in range(0,len(word1))]
    arr = [word1[i:j+1] for i in range(len(arr)) for j in range(i,len(arr))]
    arr2 = [i for i in range(0,len(word2))]
    arr2 = [word2[i:j+1] for i in range(len(arr2)) for j in range(i,len(arr2))]
    l={}
    for c in arr:
        if c in arr2:
            l[len(c)]=c
    print(l[max(l.keys())])

In [83]:
largest_common_substring('abcdefg','abcdef')

abcdef

#### Given a number n, write a program to find the sum of largest prime factors of each of nine consecutive numbers starting from n.
g(n) = f(n) + f(n+1) + f(n+2) + f(n+3) + f(n+4) + f(n+5) + f(n+6) + f(n+7) + f(n+8)

For Example,
g(10) = f(10) + f(11) + f(12) + f(13) + f(14) + f(15) + f(16) + f(17) + f(18)

Output:
66

In [54]:
#Mersenne Prime Logic
def prime(n):
    if n==1 or n==2:
        return n
    elif (2**n-1)%n==1:
        return n
    else:
        return -1
#Prime-Factor
def primefactor(n):
    s=0
    for i in range(0,9):
        p = [x for x in range(1,n+1+i) if (n+i)%x==0]
        p = list(map(prime,p))
        s+=max(p)
    return s

In [55]:
primefactor(10)

66

####