# Day 1- Python and OOPS

## Datatypes

1.	Python does not need datatypes to be specifically declared:  Dynamically Typed
i.e., the type is decided during runtime.

2.	type() function gives the class of datatype
Eg: 
a = 5
type(5)
 > <class ‘int’>
	a is an object of int class
    
1.	Types of data in python
> 1. int	
> 2. float
> 3. boolean
> 4. string

## Decision Making

### Fizzbuzz

In [2]:
n = int(input())
if n%3 == 0 and n%5==0:
    print("Both Multiple of 3 and 5 (FizzBuzz)")
elif n%3==0:
    print("Multiple of 3 (Fizz)")
elif n%5==0:
    print("Multiple of 5 (Buzz)")
else:
    print("Invalid")

3
Multiple of 3 (Fizz)

## Looping

### Print 1 to 100

In [4]:
#List Approach

a = list(range(1,101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
#Loop Approach

for i in range(1, 101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

### Print Odd Numbers from 1 to 100

In [6]:
# List Approach

a = list(range(1,101,2))
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [7]:
#Loop Approach

for i in range(1,101,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

### Print Even Numbers from 1 to 100

In [8]:
# List Approach

a = list(range(2,101,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [11]:
# List Approach 

for i in range(2,101,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

## Format of Print Statement

`print (*no of Objects, sep=' ', end='\n')`

Any type of data when given to print, `__str__` function is invoked to convert the entire output message to string

## break

~break statement is used to come out of the loop when a condition is satisfied

In [17]:
for i in range(0,100):
    if i==50:
        break
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

## continue

~continue statement is used to skip the current iteration and move to the next iteration if condition is true

In [16]:
for i in range(0,100):
    if i==50:
        continue
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

## pass

~pass statement is used to write empty body in code blocks, it is like writing NULL statement

In [19]:
for i in range(0,100):
    if i==50:
        pass
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

## Function

`def function_name (arg1, arg2, .....):
    pass   
    return`

In [22]:
def function1():
    print("Hey Function")
function1()

Hey Function

In [23]:
def function2(a,b):
    return a+b
function2(10,20)

30

## Categories of Function Based on Arguments

### Positional Arguments

In [32]:
def fun(a1,a2,a3,a4):
    print("num1 {} num2 {} num3 {} num4 {}".format(a1,a2,a3,a4))

In [34]:
fun(1,2,3,4)

num1 1 num2 2 num3 3 num4 4

In [35]:
fun(1,2,3)

TypeError: fun() missing 1 required positional argument: 'a4'

In [36]:
fun(1,2,3,4,5)

TypeError: fun() takes 4 positional arguments but 5 were given

### Keyword Arguments

You can pass formal parameter by name

In [42]:
def fun1 (num1,num2,num3,num4):
    print (num1," ",num2," ",num3," ",num4)

In [44]:
fun1(num2=32,num1=5,num4=12,num3=32)

5   32   32   12

### Default Arguments
You can pass some value in the parameter declaration itself, if new value is passed, the new value is taken else, the pre-existing value is taken

In [45]:
def fun3(name,rollno,branch,collegename="GIETU"):
    print(name,rollno,branch,collegename)

In [47]:
fun3("Ananya","20CSE063","CSE")

Ananya 20CSE063 CSE GIETU

In [52]:
l = list(map(int,input().split()))
print(l)
l1 = [x for x in l if x%2==0]
l2 = [x1 for x1 in l if x1 not in l1]
l1+l2

1 2 3 4 5
[1, 2, 3, 4, 5]

[2, 4, 1, 3, 5]

### Variable Arguments

In [53]:
def add(*var):
    sum1=0
    for i in var:
        sum1+=i
    return sum1

In [55]:
add(10,20,30,40)

100

In [71]:
def threeproduct(l):
    idx=-1
    if 7 in l:
        idx = l.index(7)
    pro = l[idx+1:]
    m =1
    for ele in pro:
        m=m*ele
    if m==1:
        return -1
    return m

In [75]:
threeproduct([1,5,7])

-1

In [76]:
d = {'Euro':0.01417,'British Pound':0.0100,'Australian Dollar':0.02140,'Canadian Dollar':0.02027}
def currencyconvertor(amt,curr):
    try:
        eqcr = amt*d[curr]
        return eqcr
    except:
        return -1

In [78]:
currencyconvertor(1000,'Euro')

14.17

In [91]:
def ticket(na,nc):
    d={'Adult':37550,'Child':(1/3)*37550}
    tp = (na*d['Adult']+nc*d['Child'])
    tx = tp*0.07
    tp = tp+tx
    disc = tp*0.1
    tp = tp-disc
    return tp

In [92]:
ticket(5,2)

204910.35

In [98]:
def coins(five,one,amt):
    fc = amt//5
    fo = amt%5
    return (fo,fc)

In [99]:
coins(2,4,21)

(1, 4)